body {
  text-align: center;
  justify-content: center;
  color: black;
  font-family: "marker felt", serif;
  font-size: 30px;
  text-shadow: 2px 2px yellow;
  background-image: url('hangman.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 48%;
}

.letterHolder {

  justify-content: center;
  margin: 0 10px;
  display: inline-flex;
  flex-direction: row;
  border-bottom: 5px solid white;
  width: 40px;
  height: 50px;

}

#wordInputArr {
  word-wrap: break-word;
  width: 350px;
  justify-content: flex-end;;
  display: flex;
}

#wordInputTwo {
  text-align: center;
}

input {
  text-align: center;
}

#livesCounter {

}

#livesCounterTitle {


}
