body {
  text-align: center;
  justify-content: center;
  color: black;
  font-family: "marker felt", serif;
  font-size: 30px;
  text-shadow: 2px 2px yellow;
  background-image: url('http://www.firstanimationart.com/sitebuilder/images/PPR_Hangmans_tree-600x445.jpg');
  background-position: top;
  background-repeat: no-repeat;
}

.letterHolder {

  justify-content: center;
  margin: 0 10px;
  display: inline-flex;
  flex-direction: row;
  border-bottom: 5px solid black;
  width: 40px;
  height: 50px;

}

#wordInputArr {
  word-wrap: break-word;
  width: 350px;
  justify-content: center;
  display: inline-flex;
}
